.stati {
    height: 6em;
    padding: 1em;
    margin: 1em 0;
    font-family: 'Francois One', sans-serif;
    color: #fff;
    background-color: #44236F !important;
    position: relative;
    transition: transform 0.2s;

    i {
        font-size: 3.5em;
    }

    div {
        width: calc(100% - 3.5em);
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        b {
            font-size: 2.2em;
            width: 100%;
            padding-top: 0px;
            margin-top: -0.2em;
            margin-bottom: -0.2em;
            display: block;
        }

        span {
            font-size: 1em;
            width: 100%;
            color: #fff;
            display: block;
        }
    }

    &:hover {
        transform: scale(1.05);
        z-index: 1;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    }
}

.staticon:before {
    color: #000;
    background: rgb(128, 128, 215);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.usagepercent {
    font-family: 'Francois One', sans-serif;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
}